* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
}


input {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

button {
  background-color: lightblue;
  cursor: pointer;
  width: 20%;
  border: none;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  list-style: none;
}

.wrapper {
  display: flex;
  gap: 10px;
}
li button {
  width: 50%;
}

i {
  padding: 10px;
}

.trash {
  border-radius: 5px;
  background-color: lightcoral;
}
.edit {
  border-radius: 5px;
  background-color: lightgreen;
}